{% extends 'base.html.twig' %}

{% block body %}
    <h1>Auto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auto.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ auto.name }}</td>
            </tr>
            <tr>
                <th>Make</th>
                <td>{{ auto.make }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ auto.price }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ auto.year }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('auto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('auto_edit', { 'id': auto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
