{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    The best cars!
{% endblock %}
{% block body %}
    <h1>Our offer</h1>
    <div class="pull-right">
        {{ form_start(form, { attr: { class: 'form-inline' } }) }}
        {{ form_widget(form.search, { attr : { placeholder: 'Search' }}) }}
        <button type="submit" class="btn btn-default">Search</button>
        {{ form_errors(form.search) }}
        {{ form_end(form) }}
        <br>
    </div>
    <table class="table">
        <tr>
            <th>Make</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for car in cars %}
            <tr>
                <td>{{ car.make.name }}</td>
                <td>{{ car.model.name }}</td>
                <td><a href="{{ url('scar', {id: car.id}) }}">Show details</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}