{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cars list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Make</th>
                <th>Price</th>
                <th>Year</th>
                <th>Description</th>
                <th>Promoted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.id }}</a></td>
                <td>{{ car.model.name }}</td>
                <td>{{ car.make.name }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.description }}</td>
                <td>
                    <span class="glyphicon glyphicon-{% if car.promote %}ok-circle{% else %}ban-circle{% endif %}">
                    </span>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('car_edit', { 'id': car.id }) }}">edit</a>
                        </li>
                        {% if car.promote == 0 %}
                            <li>
                                <a href="{{ path('car_promote', {'id': car.id}) }}">promote</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_new') }}">Create a new car</a>
        </li>
    </ul>
{% endblock %}
